#log{
    max-width: 500px;
    margin-top: 50px;

}

#reg{

  max-width: 700px;
  margin-top: 50px;
}

.tops{
    margin-top: 20px;
}

.lefts{
    margin-left: 120px;
}

.rights{
    margin-right: 30px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

@media (min-width: 979px) {
              ul.nav li.dropdown:hover > ul.dropdown-menu {
                    display: block;
                    margin-top:0px;
}
}


#hov{
    color:white;
}
#hov:hover{
    color: #0e70a1;
}
#badget{
    margin-left: 50%;
}
#accordion{
    max-width: 70%;
    align-content: center;
}
#sidbar{
    background-color: rgba(204, 204, 221, 0.62);
    position: absolute;
    left: 71%;
    top: 50px;
    margin-top: 20px;
    width: 27%;
    height: auto;


}

