{% extends 'base.html' %}

{% block header%}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container browse">
        <ul>
      {%- set subject = ["Introduction","Programming","Civiel","Chemical","Electrical","Mechanical","Biomedical","IT","Affan Oromoo","Other Reading Matiarial"] -%}
    {%- set toggle= [0] -%}
       {%- for file in files -%}
           <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading ">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ toggle[0]}}" >
                    <span class="glyphicon glyphicon-folder-open"></span>
                      {{ subject[toggle[0]]}} <span id="badget"  class="badge badge-info badge-pill">{{ toggle[0] }}</span> </a>
              </h4>
            </div>
            <div id="collapse{{ toggle[0]}}" class="panel-collapse collapse">
              <div class="panel-body">
                  <ul id="files">
                      <li >
                          <a href="file:///{{ fileLocation +file }}">{{ file }}</a>

                      </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
           {%- set _ = toggle.append(toggle.pop() + 1) -%}
    {%- endfor -%}


        </ul>
        <div id="sidbar">
            <h4>Afaan Keenya Guddisuuf Hirmaannaan Nama Baratee Murteessaadha!</h4>
            <h3>Kaayyoowwan Karoorfataman</h3>
            <ol>
                <li>Afaan kenya Guddisuu</li>
                <li>Barattoota Barnoota Technolajii afaan isaaniitiin hubachiisuu</li>
                <li>Afaan kenya Afaan Technoolojii Gochuu</li>
                <li>Guddina Afaan keenyaa Namoota naannoo Adda Addaa jiraniif Ibsuu</li>
                <li>Adaa  ,Afaaniifii duudhaawwan biroos Addunyaatti beysifachuu </li>
            </ol>
        </div>
    </div>



{% endblock %}