{% extends "base.html" %}
{% block  content%}

 <div class="container">
 <div class="jumbotron">
 <table class="table table-responsive table-bordered table-striped">
 <tr>
     <th>Full Name</th>
     <th>User Name</th>
     <th>Collage</th>
     <th>Faculty</th>
     <th>Department</th>
     <th>Contact</th>
 </tr>
     {% for row in rows %}
         <tr class="table-hover">
         <td>{{row[0]}}</td>
         <td>{{row[1]}}</td>
         <td>{{row[2]}}</td>
         <td>{{row[3]}}</td>
         <td>{{row[4]}}</td>
         <td>{{row[5]}}</td>
         </tr>

     {% endfor %}
 </table>
 </div>
 </div>
{% endblock %}