{% extends "base.html" %}
{% block  content%}

 <div class="container">
 <div class="jumbotron">
 <table class="table table-responsive table-bordered table-striped">
 <tr class="btn-primary">
     <th>Name</th>
     <th>type</th>
     <th>quantity</th>
     <th>price</th>
 </tr>
     {% for row in rows %}
         <tr class="table-hover btn-info">
         <td>{{row[0]}}</td>
         <td>{{row[2]}}</td>
         <td>{{row[2]}}</td>
         <td>{{row[3]}}</td>
         </tr>

     {% endfor %}
 </table>
 </div>
 </div>
{% endblock %}